@import "mixins";

/* ==========================================================================
   RSS feed styles
   ========================================================================== */

#content{
  margin-top:30px;
  padding: 0 20px;
}

.feed_item{
  border-bottom: 1px solid $titleText;
  margin-bottom: 40px;
  padding-bottom: 15px;
}

.feed_item_title{
  display: none;
}

.feed_item_description{
  @include table-font;
  font-size: 1.1em/1.7em;
  color: $bodyText;
  a{
    color: $linkText;
    @include table-font;
    text-decoration:none;
    img {
      width: 250px;
    }
    &:hover{
      color: $titleText;
      text-decoration:underline;
    }
  }
}

.feed_item_date{
  @include table-font;
  font-size: 13px;
  color: $titleText;
  margin-top: 15px;
}
