//Mixins
@mixin main-font {
	font-family: 'Noto Serif', serif, Verdana, sans-serif;
}
@mixin table-font {
	font: normal 12px"trebuchet ms", futura, helvetica, "times new roman", times, serif;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
  background: #000 url(../images/rug_bg_02.jpeg);
	font-size:100%;
	color:#fff;
}

.container{
	display:block;
	width: 1024px;
	margin-left:auto;
	margin-right:auto;
	background-color:#333;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(51, 51, 51);
	/* RGBa with 0.8 opacity */
	background: rgba(51, 51, 51, 0.8);
	text-align:center;
}

/* Header */
header{
	display:block;
	height: 400px;
	width:1024px;
	text-align:center;
}

.headerImg, .slideshow{
	width:1024px;
	height:200px;
}

.slideshow{
	background: url(../images/slideshowBackground.jpg) no-repeat;
}

/* Layout */
section{
	display: block;
}

.leftCol, .rightCol{
    width:450px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.leftCol{
    margin-bottom:30px;
	text-align:center;
	float:left;
	padding:20px 30px 0 30px;
}

.rightCol{
    margin-bottom:10px;
	float:right;
	padding:30px;
}

.centerCol{
    clear:both;
    width:1024px;
	text-align: left;
}


footer{
	display:block;
	width:1024px;
	clear:both;
	background-color:#0c341e;
	min-height:30px;
	position:relative;
	top:10px;
	text-align:center;
	padding:5px 0 5px 0;
}

/* Text */
h1, h2, h3{
    @include main-font;
	color: #fff350;
}

h4{
    @include main-font;
	color: #FFF;
}

.title{
	background-color:#0c341e;
    @include main-font;
	color: #FFF;
	text-align:left;
	padding-left:30px;
	padding-top:10px;
	padding-bottom:10px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

p{
    @include main-font;
	font-size: 1.1em/1.7em;
	color: #DEDEDE;
}

a{
	color: #B4B5AB;
    @include main-font;
	text-decoration:none;
}

a
{
	img {
	  border: none;
	}
  	&:hover{
		color: #fff350;
		text-decoration:underline;
	}
}

/* Tables */
tr, td{
    @include table-font;
	color: #DEDEDE;
}

th{
	background-color:#0c341e;
	width:100%;
	@include table-font;
	color: #FFF;
	text-align:left;
	padding-left:10px;
	padding-top:5px;
	padding-bottom:5px;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Left column */
/* Container for Search */
.search{
	color:#fff350; 
	font-size:31px; 
	margin-bottom:0;
}

.searchLabels{
	text-align:right; 
	float:left; 
	font-size:18px;
}

.searchButton{
	background-color: #FFF350; 
	padding: 10px; 
	border-radius: 5px; 
	font-size: 20px; 
	float: right; 
	margin-right:50px; 
	margin-top:25px;
}

.advSearch{
	position:relative;
	top:-10px;
}

.fb{
	border:none; 
	overflow:hidden; 
	width:400px; 
	height:60px;
}

.RSDCountdown{
	text-align:center;
}

/* Right column */
.CIMS{
	text-align:center;
}

.CIMSTitle{
	line-height:30px;
}

/* Container for contact info */
.contact{
	margin-top:-10px;
}

.callUs, .open7Days, .findUs{
	font-size:36px;
}

.phoneNum{
	color:#DEDEDE;
	font-size:32px;
}

.open7Days{
	clear:both;
	float:left; 
	margin-top:-10px;
}

.hours{
	font-size:25px;
	line-height:25px; 
	text-align:right;
}

.findUs{
	clear:both;
	float:left; 
	margin-top:-10px;
}

.location{
	font-size:23px;
	line-height:25px; 
	text-align:left;
	float:right;
	margin-top:-5px;
}

/* Container for embedded Google Map */
.googleMap{
	clear:both;
	text-align:left;
}

.googleMapiFrame{
	width:350px;
	height:350px;
}

/* Center column */
.findersTxt{
	padding:30px; 
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

/* Image gallery */
/* All gallery images should be 720px tall (960x720 or 540x720) */
.imageCrop{
	width:250px;
	height:250px;
    overflow: hidden;
	display:inline-block;
	margin:5px;
	.galleryThumb{
		width:500px;
		height:auto;
		margin-left:-50px;
		margin-top:-50px;
	}
}

/* These classes are not displayed, but contents should be present in code */
.fullSiteLink{
	display:none;
}

.ccLicense{
	display:none;
}

.openModal {
    cursor: hand;
    cursor: pointer;
    display: inline;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    display: none;
  	div {
		  width: 500px;
		  position: relative;
		  margin: 10% auto;
		  padding: 5px 20px 13px 20px;
		  border-radius: 10px;
		  background: #333;
	}
}

.modalClose {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
	&:hover { background: #00d9ff; }
}

.parsley-validated {
    background-color: blue;
}

.parsley-success {
    background-color: green;
}

.parsley-error {
    background-color: red;
}

.formColLeft, .formColRight {
    width: 230px;
    display: inline-block;
    margin-bottom: 20px;
}

.forColLeft {
    float: left;
}

.formColRight {
    float: right;
}

.formFooter {
    clear: both;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

.photoPreview {
    width: 150px;
    height: 150px;
    background-color: black;
}

.FBRSS {
    text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
  	&:before {
		  content: "";
		  display: block;
		  width: 0;
		  height: 150%;
	}
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
