@import "mixins";

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea{
  color: #222;
}

body{
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection{
  background: #b3d4fc;
  text-shadow: none;
}

::selection{
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr{
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img{
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset{
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea{
  resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe{
  margin: 0.2em 0;
  background: #ccc;
  color: $bodyText;
  padding: 0.2em 0;
}


/* ==========================================================================
   Main page styles
   ========================================================================== */


body{
  background: #000 url(../images/rug_bg_02.jpeg);
  font-size:100%;
  color: $bodyText;
}

.container{
  display:block;
  width: $contentWidth;
  margin-left:auto;
  margin-right:auto;
  background-color:#333;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgb(51, 51, 51);
  /* RGBa with 0.8 opacity */
  background: rgba(51, 51, 51, 0.8);
}

/* Header */
header{
  display:block;
  width: $contentWidth;
  text-align:center;
}

.headerImg, .slideshow{
  width: $contentWidth;
  height:200px;
}

.slideshow{
  background: url(../images/slideshowBackground.jpg) no-repeat;
}

/* Layout */
section{
  display: block;
}

article > *{
  padding: 0 30px 0 30px;
}

article > .FBRSS{
  padding-left: 0;
}

.leftCol, .rightCol{
  width:($contentWidth/2);
  padding:0 30px 30px 30px;
  @include border-box;
}

#contentPage .container{
  .leftCol{
    width:($contentWidth/3);
  }
  .rightCol{
    width:($contentWidth/3)*2;
  }
}

.leftCol{
  margin-bottom:30px;
  text-align:center;
  float:left;
}

.rightCol{
  margin-bottom:10px;
  float:right;
}

.centerCol{
  clear:both;
  width: $contentWidth;
}

footer{
  display:block;
  width: $contentWidth;
  clear:both;
  background-color:#0c341e;
  min-height:30px;
  position:relative;
  top:20px;
  text-align:center;
  padding:5px 0;
}

/* Text */
h1, h2, h3{
  @include main-font;
  color: $titleText;
}

h4{
  @include main-font;
  color: $bodyText;
}

.title{
  background-color:#0c341e;
  width:100%;
  @include main-font;
  color: $bodyText;
  text-align:left;
  padding: 10px 0 10px 30px;
  @include border-box;
}

p{
  @include main-font;
  font-size: 1.1em/1.7em;
  color: $bodyText;
}

a{
  color: $linkText;
  @include main-font;
  text-decoration:none;
  transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  border-bottom: 1px dotted $bodyText;
  img{
    border: none;
    text-decoration: none;
  }
  &:hover{
    color: $titleText;
    border-bottom: 1px dotted $titleText;
  }
}

/* Tables */
tr, td{
  @include table-font;
  color: $bodyText;
}

th{
  background-color:#0c341e;
  width:100%;
  @include table-font;
  color: $bodyText;
  text-align:left;
  padding: 5px 0 5px 10px;
  @include border-box;
}

/* Left column */
/* Container for Search */
.quickSearch, .facebook{
  margin-bottom: 40px;
}

.twitter, .RSDCountdown{
  margin-bottom: 60px;
}

.searchHeader{
  color:$titleText;
  font-size:31px;
  margin-bottom:0;
}

#quickSearchTable{
  margin-top: 10px;
}

.searchLabels, .searchInputs{
  text-align:right;
  font-size:18px;
  @include main-font;
  color: $bodyText;
  padding-right: 10px;
}

.searchButton{
  background-color: $titleText;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  margin: 15px 10px 0 0;
}

.advSearch{
  position:relative;
  top:-10px;
}

.advSearch td, .quickSearch td{
  padding-bottom: 5px;
}

.fb{
  border:none;
  overflow:hidden;
  width:400px;
  height:60px;
}

.RSDCountdown{
  text-align:center;
}

/* Right column */
.CIMS{
  text-align:center;
}

.CIMSTitle{
  line-height:30px;
}

/* Container for contact info */
.contact{
  margin-top:-10px;
}

.callUs, .open7Days, .findUs{
  font-size:36px;
}

.phoneNum{
  float:right;
  color:$bodyText;
  font-size:32px;
}

.open7Days{
  clear:both;
  float:left;
  margin-top:-10px;
}

.hours{
  font-size:25px;
  line-height:25px;
  text-align:right;
}

.findUs{
  clear:both;
  float:left;
  margin-top:-10px;
}

.location{
  font-size:23px;
  line-height:25px;
  text-align:left;
  float:right;
  margin-top:-5px;
}

/* Container for embedded Google Map */
.googleMap{
  clear:both;
  text-align:center;
}

.googleMapiFrame{
  width:452px;
  height:350px;
}

/* Center column */
.findersTxt{
  @include border-box;
}

#findItAtFinders{
  text-align: center;
}

/* Image gallery */
/* All gallery images should be 720px tall (960x720 or 540x720) */

.gallery{
  text-align: center;
}

.imageCrop{
  width:250px;
  height:250px;
  overflow: hidden;
  display:inline-block;
  margin:5px;
  .galleryThumb{
    width:500px;
    height:auto;
    margin: -50px 0 0 -50px;
  }
}

/* Advanced search page */
#search_results_table{
  margin-left:30px;
}

/* These classes are not displayed, but contents should be present in code */
.fullSiteLink, .mobileSiteLink{
  display:none;
}

.ccLicense{
  display:none;
}

.FBRSS{
  text-align: center;
}


/* ==========================================================================
   Modal styles
   ========================================================================== */

.overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

.modal{
  display: none;
  background: #000;
  padding: 0 20px 20px;
  overflow: auto;
  z-index: 1001;
  position: absolute;
  width: 50%;
  max-width: 500px;
  min-height: 300px;
  max-height: 500px;
  border-radius: 10px;
  p.closeBtn{
    font-size: 14px;
    text-align: left;
    margin: 10px 0 0;
    &:hover{
      cursor: pointer;
    }
  }
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir{
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
  &:before{
    content: "";
    display: block;
    width: 0;
    height: 150%;
  }
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden{
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden{
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus{
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible{
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after{
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after{
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix{
  *zoom: 1;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print{
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited{
    text-decoration: underline;
  }

  a[href]:after{
    content: " (" attr(href) ")";
  }

  abbr[title]:after{
    content: " (" attr(title) ")";
  }

/*
 * Don't show links for images, or javascript/internal links
 */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after{
    content: "";
  }

  pre, blockquote{
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead{
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img{
    page-break-inside: avoid;
  }

  img{
    max-width: 100% !important;
  }

  @page{
    margin: 0.5cm;
  }

  p,
  h2,
  h3{
    orphans: 3;
    widows: 3;
  }

  h2,
  h3{
    page-break-after: avoid;
  }
}
